<div class="TMheader">
   <header role="banner" class="light TMheader">
          <div id="brand">
            <h1 class="reset"><a href="<%= root_url %>">Swift</a></h1>
          </div><!-- brand -->
          <nav>
            <ul>
              <li>
                <a style="color:black;" href="<%= new_user_registration_path %>">Create an Event</a>
              </li>
              <li>
                <a style="color:black;" href="<%= new_user_session_path %>">Login</a>
              </li>
            </ul>
          </nav>
    </header>
  </div>