<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ticket Eden</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1024">
    
    <%= csrf_meta_tags %>
    <%= render 'layouts/event/css_event' %>
    <%= render 'layouts/event/js_header_event' %>
</head>