<div class="form-group">
  <%= label_tag "Let people see the event page?" %><br>
  <%= f.select :published, [["No",false], ["Yes, make the event public",true]], :class => "form-control editor" %>
</div>