<h3>Payments</h3>
<%= render "payment_settings" %>

<br><br><br>

<h3>Account Details</h3>
<div id="logout" class="btn-header transparent pull-left">
  <%= button_to "Log out", destroy_user_session_path, :method => :delete, :class => "btn btn-danger", :style => "margin-top:8px;" %>
</div>