<% @event.fees.each do |fee| %>
  <div class="field">
  <label class="fee_item"><%= fee.name %></label>
    <span class="value"><%= number_to_currency(stripe_to_display(fee.amount)) %></span>
  </div> 
<% end %>