<div class="field">
  <%= label_tag :price %><span class="value"><%= "#{number_to_currency(stripe_to_display(@ticket.price))}" %></span>
</div>

<%= render 'fees' %>

<div id="discount_div" class="field" style="display:none;">
  <label>Code Discount</label>
  <span id="discount_amount" class="value" style="color:green;"></span>
</div>

<div class="field">
  <label>Total</label>
  <span id="order_total" class="value total"></span>
</div>

<%#= hidden_field_tag "order[amount]", "#{@ticket.price}" %>