<div class="field">
  <%= label_tag :price %><span class="value"><%= "#{number_to_currency(stripe_to_display(@ticket.price))}" %></span>
</div>

<%= render 'fees' %>

<div class="field" id="discount_div" style="display:none;">
  <label style="color:#4dec00;">Code Discount</label>
  <span class="value" id="discount_amount" style="color:#4dec00;"></span>
</div>

<div class="field">
  <label>Total</label>
  <span id="order_total" class="value total"></span>
</div>

<%#= hidden_field_tag "order[amount]", "#{@ticket.price}" %>