<header role="banner" class="transparent light">
    <div class="row">
      <div class="nav-inner row-content buffer-left buffer-right even clear-after">
        <div id="brand">
          <%= image_tag "logo_home.png" %>
        </div><!-- brand -->
        <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
        <nav>
          <ul class="reset" role="navigation">
            <% if user_signed_in? %>
              <li class="menu-item">
                <a href="<%= dashboard_url %>">Dashboard</a>
              </li>
            <% else %>
              <li class="menu-item">
                <a href="<%= new_user_registration_url %>">Create an Event</a>
              </li>
              <li class="menu-item">
                <a href="<%= new_user_session_url %>">Login</a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div><!-- row-content -->  
    </div><!-- row -->  
  </header>