.item {
  padding: 0 3px;
}

.editor {
  width: 400px;
}

.save {
  margin-right: 15px;
  margin-top: 10px;
}

#event_error_explanation {
  padding: 1px;
  display: table;
  border: 2px solid red;
}

.dropdown-menu {
  min-width: 250px;
}

.active {
 background-color: #a67038;
}

.tabs li a:hover {
  background-color: #d9974b !important;
  -webkit-transition: .4s;
  transition: .4s;
  padding-left: 14px !important;
}

.tabs li a {
  -webkit-transition: .4s;
}