<header id="header" style="border-bottom: 1px #c3c3c3 solid; height:70px;">
      <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo" style="margin: 0 0 0 10px;"><%= link_to (image_tag "logo.png"), root_url, :style => "width: 65%;" %></span>

        <!-- END LOGO PLACEHOLDER -->

        <!-- Note: The activity badge color changes when clicked and resets the number to 0
        Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
        

        <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
        
        <!-- END AJAX-DROPDOWN -->
      </div>

          <div class="btn-header transparent pull-left">
          <%= link_to "Create an Event", new_event_path, :class => "btn btn-primary", :style => "margin-top:18px; margin-left:000px;" %>
          </div>

           <div class="btn-header transparent pull-left">
          <%= link_to "Lookup a Customer", customers_path, :class => "btn btn-primary", :style => "margin-top:18px; margin-left:50px;" %>
          </div>


      <!-- projects dropdown -->
   
      <!-- end projects dropdown -->

      <!-- pulled right: nav area -->
      <div class="pull-right">

        <!-- collapse menu button -->
        <!-- <div id="hide-menu" class="btn-header pull-right">
          <span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-bars"></i></a> </span>
        </div> -->
        <!-- end collapse menu -->

        <!-- logout button -->
      
        <!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
        <!-- <div id="search-mobile" class="btn-header transparent pull-right">
          <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div> -->
        <!-- end search mobile button -->

        <!-- input: search field -->
        <!-- <form action="#search.html" class="header-search pull-right">
          <input type="text" placeholder="Find reports and more" id="search-fld">
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
          <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
        </form> -->
        <!-- end input: search field -->

        <!-- multiple lang dropdown : find all flags in the image folder -->
        
        <!-- end multiple lang -->

      </div>
      <!-- end pulled right: nav area -->

    </header>