<div id="footer" class="margin-top">
      <div class="wrapper clearfix">
        <div class="copy left">
        </div><!-- /.copy -->
        <div class="powered right">
          <span class="left">Powered By</span>
          <%= link_to (image_tag "psd_html/ticket-science-logo.png"), "http://#{DOMAIN_NAME}" %>
        </div><!-- /.powered right -->
      </div><!-- /.wrapper -->
    </div><!-- /#footer -->