<%= render "layouts/header" %>
<body class="">
<%= render "layouts/navbar" %>
    <% unless controller_name == "events" || controller_name == "ticket" || controller_name == "fee" || controller_name == "waves" || controller_name == "promo_codes" || controller_name == "affiliate_settings"  %>
      <div id="content">
    <% end %>
      
<%= yield %>

    <% unless controller_name == "events" || controller_name == "ticket" || controller_name == "fee" || controller_name == "waves" || controller_name == "promo_codes"  %> 
      </div>
    <% end %>
  
<%= javascript_include_tag "google/google_analytics" %> 

</body>
</html>
