<%= render "layouts/header" %>
<body class="">
<%= render "layouts/navbar" %>
<%= render "layouts/left_panel" %>

  <div id="main" role="main">
    <div id="content">
      <%= yield %>
    </div>
  </div>
  
  

</body>
</html>
