<div class="control-group" id="create_team" style="display:none;" >
<%= text_field_tag "Team name", nil, :id => "create_team_name", :name => "create_team_name", :placeholder => "e.g. The Amazing Racers" %>
</div>