<div class="form-group">
  <%= label_tag :email, nil, :class => "col-md-3 control-label" %>
  <div class="col-md-4">
    <%= email_field_tag "#{ticket}[]" + 'email[]', nil, :class => "form-control ", :value => "#{rand}@gmail.com" if Rails.env.development? %>
  </div>
</div>