<div class="form-group">
  <%= label_tag "Gender", nil, :class => "col-md-3 control-label" %>
  <div class="col-md-4">
    <%= select_tag "participant[gender]", "<option>Female</option><option>Male</option>".html_safe, :class => "form-control" %>
  </div>
</div>