<<<<<<< HEAD
<div class="form-group">
  <%= label_tag "Gender", nil, :class => "col-md-3 control-label" %>
  <div class="col-md-4">
    <%= select_tag "Gender", "<option>Female</option><option>Male</option>".html_safe, :class => "form-control" %>
  </div>
</div>
=======
<%= label_tag "Gender" %>
<%= select_tag "Gender",  "<option>Female</option><option>Male</option>".html_safe, :class => "form-control" %>
>>>>>>> c3ad34dae9994bfd1fdcf2ee562b67ac99b1d568
