<<<<<<< HEAD
<div class="form-group">
  <%= label_tag :name, nil, :class => "col-md-3 control-label" %>
  <div class="col-md-4">
    <%= text_field_tag "#{ticket}[]" + 'name[]', nil, :class => "form-control", :value => "Mike Perley" if Rails.env.development?  %>
  </div>
</div>
=======
<%= label_tag :name %>
<%= text_field_tag "#{ticket}[]" + 'name[]', nil, :class => "form-control"  %>
>>>>>>> c3ad34dae9994bfd1fdcf2ee562b67ac99b1d568
