<div class="form-group">
  <%= label_tag :password, nil, :class => "col-md-3 control-label" %>
  <div class="col-md-4">
    <%= text_field_tag "#{ticket}[]" + 'password[]', nil, :class => "form-control", :value => "password_test" if Rails.env.development?  %>
  </div>
</div>