<div class="form-group">
  <%= label_tag :password, nil, :class => "col-md-3 control-label" %>
  <div class="col-md-4">
    <% if i == 0 %>
      <%= text_field_tag "#{ticket}[]" + 'password[]', nil, :class => "form-control", :value => "password_test" if Rails.env.development?  %>
    <% else %>
      <%= label_tag :wedoit, "We'll create their password and send it to them", :style => "font-weight: 400;" %>
    <% end %>
  </div>
</div>