<<<<<<< HEAD
<div class="form-group">
  <%= label_tag "Phone number", nil, :class => "col-md-3 control-label" %>
  <div class="col-md-4">
    <%= phone_field_tag "#{ticket}[]" + 'phone[]', nil, :class => "form-control", :value => "6262444636" if Rails.env.development? %>
  </div>
</div>
=======
<%= label_tag "Phone number" %>
<%= phone_field_tag "Phone number", nil, :class => "form-field" %>
>>>>>>> c3ad34dae9994bfd1fdcf2ee562b67ac99b1d568
