<div class="form-group">
  <%= label_tag :referral_code, "Promo code?", :class => "col-md-3 control-label" %>
  <div class="col-md-4">
    <%= text_field_tag "order[referral_code]", nil, :class => "form-control", :id => "referral_code", :value => @referral_code  %>
  </div>
</div>