<<<<<<< HEAD
<div class="form-group">
  <%= label_tag :referral_code, "Promo code?", :class => "col-md-3 control-label" %>
  <div class="col-md-4">
    <%= text_field_tag :referral_code, nil, :class => "form-control", :value => @referral_code  %>
  </div>
</div>
=======
<%= label_tag :referral_code, "Enter code" %>
<%= text_field_tag :referral_code, nil, :class => "form-control"  %>
>>>>>>> c3ad34dae9994bfd1fdcf2ee562b67ac99b1d568
