<label>Teams?</label>
<div class="radio">
  <input type="radio" name="team" id="no-team" value="0" checked="checked" /> 
  <label for="no-team" class="radio">No team</label>
  
  <input type="radio" name="team" id="join-team" value="1" /> 
  <label for="join-team" class="radio">Join team</label>

  <input type="radio" name="team" id="create-team" value="2" /> 
  <label for="create-team" class="radio">Create team</label>
</div>